params {
    input_fasta = "${launchDir}/*.fasta"
    input_gb = "${launchDir}/*.gb"
    inference_method = "ml" // options: 'ml', 'bayesian'
    outdir = "results"
}

profiles {
    test {
        params.input_fasta = "${projectDir}/tests/data/test.fasta"
        params.metadata = "${projectDir}/tests/data/test_metadata.tsv"
    }
    docker {
        docker.enabled = true
        docker.runOptions = '-u $(id -u):$(id -g)' // Ejecuta como el usuario actual
        singularity.enabled = false
        conda.enabled = false
    }
    singularity {
        singularity.enabled = true
        singularity.autoMounts = true // Monta automáticamente los directorios necesarios
        docker.enabled = false
        conda.enabled = false
    }
    conda {
        conda.enabled = true
        docker.enabled = false
        singularity.enabled = false
    }
}

// Configuración sugerida para procesos e imágenes (Contenedores/Conda)
process {
    // Scripts de Python o comandos básicos de Bash
    withName: 'EXTRACT|RENAME|SCORE|VISUALIZE' {
        container = 'python:3.11-slim'
        conda = 'conda-forge::python=3.11'
    }
    
    // Alineadores y Curado
    withName: 'MAFFT' {
        container = 'quay.io/biocontainers/mafft:7.525--h031d066_1'
        conda = 'bioconda::mafft'
    }
    withName: 'MUSCLE' {
        container = 'quay.io/biocontainers/muscle:5.1--h9f5acd7_1'
        conda = 'bioconda::muscle'
    }
    withName: 'TRIMAL' {
        container = 'quay.io/biocontainers/trimal:1.4.1--h9f5acd7_6'
        conda = 'bioconda::trimal'
    }
    
    // Inferencia Filogenética
    withName: 'IQTREE2' {
        container = 'quay.io/biocontainers/iqtree:2.2.2.6--h21ec9f0_1'
        conda = 'bioconda::iqtree'
        cpus = 4
        memory = 8.GB
    }
    withName: 'MRBAYES' {
        container = 'quay.io/biocontainers/mrbayes:3.2.7a--h8b12597_3'
        conda = 'bioconda::mrbayes'
        cpus = 4
        memory = 8.GB
    }
}
